:root{
  --blue: #3294F8;
  --base-title: #E7EDF4;
  --base-subtitle: #C4D4E3;
  --base-text: #AFC2D4;
  --base-span: #7B96B2;
  --base-label: #3A536B;
  --base-border: #1C2F41;
  --base-post: #112131;
  --base-profile: #0B1B2B;
  --base-background: #071422;
  --base-input: #040F1A;
}
*{
  padding:0;
  margin:0;

  box-sizing: border-box;

   :focus{
    outline:0;
    box-shadow: 0 0 0 2px var(--blue)
   }
}
body{
  background-color:var(--base-background);
}
body,input,textarea,button{
  font-family: 'Nunito', sans-serif;
}
.wrapper{
  width: 864px;
  margin: 0 auto 10rem auto;
}
.posts-container{
  display: flex;
  justify-content: center;
  gap: 1rem;

  flex-wrap: wrap;
}
.cover{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
